{
  "domain": "YOUR_AUTH0_DOMAIN"
  "audience": "https://api.example.com",           
  "issuerBaseURL": "https://YOUR_AUTH0_DOMAIN/",   
  "spaClientId": "YOUR_PUBLIC_SPA_CLIENT_ID",      
  "managementClientId": "YOUR_M2M_CLIENT_ID",      
  "managementClientSecret": "YOUR_M2M_CLIENT_SECRET",
  "managementAudience": "https://YOUR_AUTH0_DOMAIN/api/v2/",
  "allowedOrigins": ["https://your-frontend.example.com"]
}
